
.container-projet {
    width: 100%;
    max-width: 2300px; 
    height: 100vh;
}
.exempleProjets {
    width: 100%;
    display: flex;
    flex-direction: column; 
    max-width: calc(1300px);
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
    
}
 h2 {
    text-shadow:  2px 2px black;
    color: rgb(193, 33, 33);
    font-size: 40px;
    padding-top: 70px;
    opacity: 50%;
    text-align: center;
}
.containerProjet {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr; 
    gap: 5rem;
    margin-top: 70px;
    justify-content: center;
    
}
.carte {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 500px; 
}
.carte:hover {
    filter:drop-shadow( 0 0 0.70rem rgb(223, 150, 76));
}
.image {
    width: 100%;
    height: 35%;
}
.texte {
    width: 100%;
    height: 55%;
}
.lien {
    width: 100%;
    height: 10%;
}
img {
    width: 100%;
    object-fit: cover;
    
}
.interieurCarte {
    margin: 0px auto;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid rgba(43, 105, 251, 0.12);
    box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
    position: relative;
}
@media screen and (max-width: 1422px ){ 
    .containerProjet {
        gap: 2rem;
    }
 }
 @media screen and (max-width: 1200px ){ 
    .containerProjet {
        gap: 2rem;
    }
 }
 @media screen and (max-width: 800px ){ 
    .containerProjet {
        gap: 2rem;
        grid-template-columns:  1fr 1fr;  
    }
    h2 {
        font-size: 30px;
    }
 }
 @media screen and (max-width: 500px ){ 
    .containerProjet {
        grid-template-columns: 1fr ;
        padding-left: 10%;
        padding-right: 10%;
    }
    h2 {
        font-size: 25px;

    }
 }