/* Remise a zero des marges de toute la page */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Couleur de fond en dégrader de la page */
body {
    background-image: linear-gradient(to right, rgb(0, 0, 0) 10%, rgb(102, 102, 102
    ));
}
                                                                /*STYLE POUR LA NAV  */
/* Taille du container de la nav */
nav{
    height: 130px;
    display: flex;
}
/* Création du logo */
label.logo {
    font-size: 1.5em;
    font-family:"Lavishly Yours", cursive;
    margin: 45px 40px 40px 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    border-radius: 50%;
    width: 2.7em;
    height: 2.7em;
    background-image: linear-gradient(to bottom, rgb(223, 150, 76) 10%, rgb(121, 81, 41
    ));
    aspect-ratio: 1 / 1;  
}
/* Styles pour la liste de navigation */
ul { 
    flex-grow: 1;
    margin-top: 55px;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    z-index: 9; /* Plus bas pour passer derrière le burger */
}
/* Styles pour les items de la liste (li) */
ul li {
    display: inline-block;
    margin: 0 30px;
    font-size: 2em;
}
/* Styles pour les liens dans la liste de navigation */
 ul li a {
    color: white;
    font-family:"Jomolhari";
    text-shadow: 1px 3px 2px black;
}
/* Styles pour l'icône du menu burger (hamburger) */
.image-menu-burger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    height: 35px;
    z-index: 10; /* Priorité d'empilement plus élevée */
}
/* Styles pour l'icône croix (pour fermer le menu) */
.image-croix-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 45px;
    width: 50px;
    height: 50px;
    z-index: 10; /* Priorité d'empilement plus élevée */
}
/* Classe supplémentaire pour les styles mobiles (pour un menu mobile) */
.menu-mobile{
    margin-top: 0;

}
/* Media query pour les écrans de moins de 1024px (version mobile) */
 @media screen and (max-width: 1024px){
     /* Styles ajustés pour le logo en version mobile */
    label.logo {
        font-size: 1em;
        font-family:"Lavishly Yours", cursive;
        margin: 30px 30px 40px 30px;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%; 
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to bottom, rgb(223, 150, 76) 10%, rgb(121, 81, 41
        ));
        aspect-ratio: 1 / 1;  
    }
    /* Affiche l'icône du menu burger en version mobile */
    .image-menu-burger {
        display: block;
        z-index: 10; /* L'icône burger reste visible au-dessus */
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        margin-right: 1em;
        margin-top: 0px;
    }
    /* Affiche l'icône croix pour fermer le menu en version mobile */
    .image-croix-menu  {
        display: block;
        z-index: 11; /* L'icône croix au-dessus du burger */
    }
    /* Ajustements pour le menu en version mobile */
     ul{
        width: 100%;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        border-radius: 0px 0px 0px 0px ;
        margin-top: -130%;
        transition: all 0.5s ease-out;;
        border-radius: 0px 10px 10px;
        box-shadow: 0px 1px rgb(223, 150, 76);
        z-index: 9; /* Le menu est derrière les icônes de burger/croix */
        
    }
    /* Classe "open" pour afficher le menu lors du clic */
    ul.open {
        z-index: 12; /* Quand le menu est ouvert, il passe au-dessus du burger */
        margin-top: 0; /* Révèle le menu */
    }
    /* Ajustement des marges et de la taille de la police des items en version mobile */
    ul li{
        margin: 3% 0px;
        font-size: 1.5em;
    }
    nav {
        height: 100px;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .page-en-cour h1{    
        writing-mode: horizontal-tb;
        text-orientation: initial;
        margin: 0;
        width: 100vw;
        text-align: center;
        font-size: 10vw;
    }
    section.textePresentation {
        margin-top: 50px ;
        margin-left: 0 ;
        text-align: center;
    }
    h2.Hello {
        font-size: 6vw 
    }
    h3.Bienvenue {
        font-size: 5vw;
        
    }
    h2.NomPrénom {
        font-size: 10vw;
       
    }
    h3.Métier {
        font-size: 5vw;
        background: linear-gradient(to bottom, rgb(218, 56, 56), rgb(116, 30, 30
        ));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    section.image-fond {
        margin-top: 0px ;
    }
    .image-logo-fond {
        margin-top: 0px;
    }
 }

main {
    min-height: 100vh;
    display: flex;
}
section.page-en-cour{
    width: 30%;
}
section.textePresentation {
    width: 100%;
}

section.image-fond,img {
   width: 100%;
   margin-top: 80px;  
}

h1 {
    margin-left: 1.5rem;
    margin-top: 10rem;
    font-family: "Jomolhari", serif;
    font-weight: 100;
    font-size: 7rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background: linear-gradient(to bottom, rgb(223, 150, 76), rgb(121, 81, 41
    ));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
}

.textePresentation { 
    margin-top: 15vh;
    margin-left: 10vh;
    font-family:"Kaisei Tokumin", serif;
    font-weight: 100;
    font-style: normal;
    color: aliceblue;
    width: auto;
    height: auto;
    text-shadow: 1px 3px 2px black;
}
.Hello {
    font-size: 4em;
}
.Bienvenue {
    font-size: 2.5em;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.NomPrénom {
    font-size: 6.5em;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.Métier {
    font-size: 3em;
    background: linear-gradient(to bottom, rgb(218, 56, 56), rgb(116, 30, 30
    ));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}